@media (min-width: 768px) {
    .btn-infoss {
        max-width: 300px;
    }
}

body {
    background-color: black;
    font-family: "Arial", sans-serif;
}

/* Banner superior */
.top-banner {
    background-color: #ffffffe7;
     position: relative;
     top: 0;
     left: 0;
    width: 100%;
    z-index: 1000;
}

/* Nome Infoss estilizado */
.brand-infoss {
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
}

/* Detalhe azul no "I" estilo Infoss */
.brand-infoss::first-letter {
    color: #004aad;
    font-weight: bold;
}

/* Hover */
.brand-infoss:hover {
    color: #004aad;
}

/* Título e Subtítulo */
h1 {
    color: white;
    font-weight: bold;
    padding-top: 0%;
    margin-top: 50px;
    text-align: center;
}
.subtitulo {
    color: #555;
    text-align: center;
}

/* Botões personalizados da Infoss */
.btn-infoss {
    background-color: #a618df;
    color: #fff;
    max-width: 350px;
}

.btn-infoss:hover {
    background-color: #00368a;
    color: #fff;
}

/* Card do login demo */
.card-login-demo {
    background: rgba(255, 255, 255, 0.234);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 25px 20px;
    width: 75%;
    max-width: 380px;
    backdrop-filter: blur(6px);
}

/* Texto login */
.login-text {
    color: #bbbbbb;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Caixa copiar */
.copy-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.08);
    padding: 8px 12px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}

/* Botão copiar */
.btn-copy {
    background: #a618df;
    border: none;
    color: white;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-copy:hover {
    background: #7e11ad;
}

/* Layout base para sticky footer */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Faz o conteúdo crescer e empurrar o footer */
main {
    flex: 1;
}

/* Footer */
.footer-infoss {
    width: 100%;
    background-color: #000; /* igual ao body */
    text-align: center;
    padding: 10px 5px;
    font-size: 10px;
    border-top: 1px solid rgba(255,255,255,0.2);
}
